@import '~bootstrap/scss/bootstrap';

main {
  margin: 0 auto;
  width: 100%;
}

header {
  margin: 0 auto;
  position: relative;
  top: 5px;
  width: 90%;
}

.header {
  bottom: 8px;
  color: green;
  float: right;
  font-size: 42px;
  margin: 0 3% 0 0;
  pointer-events: auto;
  position: relative;
  text-transform: uppercase;
  user-select: auto;
  z-index: 1;
}

#content {
  margin: 0 auto;
  position: relative;
  top: 5px;
  width: 90%;
}

.get-band-name-handlebars {
  margin: 0 auto;
  position: relative
}
